.carrusel {
  width: 400px;
  height: 250px;
  overflow: hidden;
}

.carrusel-contenido {
  display: flex;
  width: 1200px;
  animation: slide 9s infinite;
}

.carrusel img {
  width: 400px;
  height: 250px;
}

@keyframes slide {
  0% { transform: translateX(0); }
  33% { transform: translateX(400px); }
  66% { transform: translateX(800px); }
  100% { transform: translateX(0); }
}