:root {
    --ancho-carrusel: 1000px;
}
.carrusel {
  width: 400px;
  height: 250px;
  overflow: hidden;
}

.carrusel-contenido {
  display: flex;
  width: var(--ancho-carrusel);
  animation: slide 20s infinite;
}

@keyframes slide {
  0% { transform: translateX(0); }
  33% { transform: translateX(calc(-1 * var(--ancho-carrusel))); }
  66% { transform: translateX(calc(-2 * var(--ancho-carrusel))); }
  100% { transform: translateX(0); }
}